.block.milestone
  .title
    Milestone
    - if can?(current_user, :admin_issue, @project)
      = icon("spinner spin", class: "block-loading")
      = link_to "Edit", "#", class: "js-sidebar-dropdown-toggle edit-link pull-right"
  .value
    %span.no-value{ "v-if" => "!issue.milestone" }
      None
    %span.bold.has-tooltip{ "v-if" => "issue.milestone" }
      {{ issue.milestone.title }}
  - if can?(current_user, :admin_issue, @project)
    .selectbox
      %input{ type: "hidden",
        ":value" => "issue.milestone.id",
        name: "issue[milestone_id]",
        "v-if" => "issue.milestone" }
      .dropdown
        %button.dropdown-menu-toggle.js-milestone-select.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", show_no: "true", field_name: "issue[milestone_id]", project_id: @project.id, milestones: project_milestones_path(@project, :json), ability_name: "issue", use_id: "true", default_no: "true" },
          ":data-selected" => "milestoneTitle",
          ":data-issuable-id" => "issue.id",
          ":data-issue-update" => "'#{project_issues_path(@project)}/' + issue.id + '.json'" }
          Milestone
          = icon("chevron-down")
        .dropdown-menu.dropdown-select.dropdown-menu-selectable
          = dropdown_title("Assign milestone")
          = dropdown_filter("Search milestones")
          = dropdown_content
          = dropdown_loading
