- @hide_top_links = true
- page_title "Merge Requests"
- header_title  "Merge Requests", merge_requests_dashboard_path(assignee_id: current_user.id)

- content_for :breadcrumbs_extra do
  = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New merge request", with_feature_enabled: 'merge_requests', type: :merge_requests

.top-area
  = render 'shared/issuable/nav', type: :merge_requests
  .nav-controls.visible-xs
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New merge request", with_feature_enabled: 'merge_requests', type: :merge_requests

= render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
