- @content_class = "limit-container-width" unless fluid_layout
- page_title "CI / CD Settings"
- page_title "CI / CD"

= render "projects/settings/head"

= render 'projects/runners/index'
= render 'ci/variables/index'
= render 'projects/triggers/index'
= render 'projects/pipelines_settings/show'
