- page_title "Milestones"
- if can?(current_user, :admin_milestones, @group)
  - content_for :breadcrumbs_extra do
    = link_to "New milestone", new_group_milestone_path(@group), class: "btn btn-new"

= render "groups/head_issues"

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls.visible-xs
    - if can?(current_user, :admin_milestones, @group)
      = link_to "New milestone", new_group_milestone_path(@group), class: "btn btn-new"

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
